@import './global.css';

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--primary-bg);
}

.category-wrapper {
  max-width: 760px;
  margin: var(--spacing-xl) auto;
  padding: 0 var(--spacing-md);
  text-align: center;
}

.category-title {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

.scroll-container {
  overflow: hidden;
  position: relative;
}

.categories {
  display: flex;
  gap: var(--spacing-md);
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: var(--spacing-sm) 0;
  cursor: grab;
  user-select: none;
}

.categories.active {
  cursor: grabbing;
}

.categories a{
  text-decoration: none;
  color: var(--primary-text-color);
}

.category {
  flex: 0 0 auto;
  background-color: white;
  border: 1px solid var(--category-border-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-sm) var(--border-radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 95px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: transform 0.2s;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  margin: auto;
  box-shadow: var(--shadow-md);
}

.banner-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
}

.banner-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--secondary-text-color);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-xl);
}

@media(max-width: 900px){
  .nav-el {
    display: none;
  }

  .bars {
    display: block;
  }
}

@media (max-width: 600px) {
  .mobile-menu.active {
    display: flex;
  }

  .search-bar {
    flex: 1 1 100%;
    margin-top: var(--spacing-sm);
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-info, .footer-social, .footer-bonus {
    flex: 1 1 100%;
  }
}